nav {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    margin-top: 2rem;
    padding: 0 1rem;
    width: 90vw;
    height: 4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #ffffff40;
    backdrop-filter: blur(.5em);
    -webkit-backdrop-filter: blur(.5em);
    border: solid 1px #ffffff80;
    border-radius: 2em;
}

.logo {
    height: 3rem;
    width: auto;
}

.themeSwitcher {
    height: auto;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    background: #0000;
    color: #fff;
    border: none;
}